<div class="posts-header">
  <%= render "shared/second-header"%>
</div>

<%= form_with model: @post, url: post_path, class: 'registration-main', method: :put, local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <p>Write Freely!</p>
      <h1 class='form-header-text'>
        投稿編集
      </h1>
    </div>

    <%= render partial: "shared/error_messages", locals: { thing: @post }, model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">タイトル[Title]</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.text_field :title, class:"input-default", id:"title", maxlength:"20" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">内容[Content]</label>
        <span class="indispensable">*</span>
      </div>
      <%= f.text_area :content, size: "40x10", class:"input-default", id:"content", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">選択肢：1つめ</label>
      </div>
      <%= f.text_field :first_choice, class:"input-default", id:"first_choice", max_length:"20" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">選択肢：2つめ</label>
      </div>
      <%= f.text_field :second_choice, class:"input-default", id:"second_choice", max_length:"20" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">選択肢：3つめ</label>
      </div>
      <%= f.text_field :third_choice, class:"input-default", id:"third_choice", max_length:"20" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">みんなのコメント欲しい？[Comment]</label>
        <span class="indispensable">*</span>
        <p class="form-text">※チェックなしの場合、コメント欄は開放されません。</p>
      </div>
      <%= f.check_box :comment, class:"input-default", max_length:"20" %>
    </div>

    <div class="form-group">
      <div class="form-text-wrap-red">
        <p>※投票されている投稿については編集すると投票内容が更新されません。ご注意ください。</p>
      </div>
    </div>

    <div class='register-btn'>
      <div class="form-text-wrap">
        <%= f.submit "編集完了" ,class:"register-green-btn" %>
      </div>
    </div>
<% end %>

<div class="posts-footer">
  <%= render "shared/second-footer"%>
</div>