<div class="posts-header">
  <%= render "shared/first-header"%>
</div>

<div class="index-contents">
  <div class="contents-wrapper">
    <div class="posts-title">
      <p class="posts-maintitle">POSTS</p>
      <p class="posts-subtitle">投稿一覧</p>
    </div>

    <div class="posts">
      <% @post.each do |post| %>
        <div class="posts-content">
          <p class="post-title">
            <%= post.title %>
          </p>
          <div class="post-content">
            <%= post.content %>
          </div>
          <ul>
            <% if post.first_choice.present? %>
              <div class="post-choice-wrapper">
                <li class="post-choice">
                  <%= post.first_choice %>
                </li>
              </div>
            <% end %>
            <% if post.second_choice.present? %>
              <div class="post-choice-wrapper">
                <li class="post-choice">
                  <%= post.second_choice %>
                </li>
              </div>
            <% end %>
            <% if post.third_choice.present? %>
              <div class="post-choice-wrapper">
                <li class="post-choice">
                  <%= post.third_choice %>
                </li>
              </div>
            <% end %>
          </ul>
          <img class="heart", id='heart', src='/assets/good-btn.jpg'>
        </div>
       <% end %>
    </div>

  </div>
</div>

<div class="posts-footer">
  <%= render "shared/first-footer"%>
</div>