<div class="posts-header">
  <%= render "shared/first-header"%>
</div>

<div class="index-contents">
  <div class="contents-wrapper">
    <div class="posts-title">
      <p class="posts-maintitle">POSTS</p>
      <p class="posts-subtitle">投稿一覧</p>
    </div>

    <%= search_form_for @q, url: search_posts_path do |f| %>
      <%= f.label :title_or_content_cont, "< 検索ワード >", class: "search-form" %>
      <br>
      <%= f.search_field :title_or_content_cont, class: "search-form-box" %>
      <br>
      <%= f.submit '検索', class: "search-form-btn" %>
    <% end %>

    <% if @results.present? %>
      <%= render partial: 'posts', locals: {posts: @results, q: @q} %>
    <% else %>
      <p class="search-results">検索に一致する投稿はありませんでした。</p>
    <% end %>

  </div>
</div>

<div class="posts-footer">
  <%= render "shared/first-footer"%>
</div>