<header>
  <div class="head-contents">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "user" %>
      <%= link_to '> 新規投稿', new_post_path, class: "user" %>
      <%= link_to '> ログアウト', destroy_user_session_path, method: :delete, class: "user" %>
    <% else %>
      <%= link_to '> ログイン', new_user_session_path, class: "user" %>
      <%= link_to '> 新規登録', new_user_registration_path, class: "user" %>
    <% end %>
  </div>
</header>
<body class="posts-body-contents">
  <div class="main">
    <figure>
      <img src="/images/icon.jpg" alt="icon" class="top-icon">
    </figure>
    <div class="content">
      <div class="content-title">
        <h2><span><ruby>3<rt>・</rt>日<rt>・</rt>間<rt>・</rt>だけの相談</ruby></span></h2>
      </div>
      <div class="content-discribe-wrapper">
        <p class="content-discribe">☆投稿内容は3日間だけ投稿画面に表示されます。(投稿者のみ3日後も確認できます。)</p>
        <p class="content-discribe">☆誰かの意見を匿名で募集することができます。</p>
      </div>
      <div class="index-content">
        <%= link_to '> 投稿一覧へ', posts_path, class: "index" %>
      </div>
    </div>
  </div>
</body>