<!DOCTYPE html>
<html>
  <head>
    <title>YOTSUBA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="/images/icon-favicon.jpg">

    <script src="https://kit.fontawesome.com/71d57f1c28.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            margin: 0;
        }

        nav {
            background-color: #000000;
            border-bottom: 5px solid #44D7AC;
        }

        ul {
            display: flex;
            flex-flow: row;
            list-style: none;
            margin: 0;
            padding: 20px 10px 0 10px;
        }

        li.logo {
            margin-right: auto;
        }

        li a {
            display: block;
            padding: 10px 20px;
            font-size: 14px;
            color: #fff;
        }

        li:hover {
            background: #21127C;
            border-radius: 10px 10px 0 0;
        }

        a, a:visited, a:focus, a:hover {
            text-decoration: none;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
